/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin: 1% 2%;
}

/******************************************
/* LAYOUT
/*******************************************/
/******************** header style ***********************/
header{
  display: flex;
  flex-direction: row;
  background-color: rgb(227, 227, 227);
}
header img{
  flex-basis: 20%;
}
header nav{
  flex-basis: 80%;
  margin: auto 0;
  text-align: right;
}
header a{
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 3px solid rgb(179, 179, 179);
}

#logo{
  height: 80px;
  width: 240px;
}
li {  
  display: inline;
  list-style: none;
  padding-left: 5%;
}

/******************** main style ***********************/
main{
  height: 500px;
  display: flex;
  flex-direction: row;
  padding: 30px 0;
}
.left-main-sect{
  flex: 1;
  padding: 60px 5%;
}
.left-main-sect *{
  text-align: left;
}

/******************** food style ***********************/
#favFood{
  background-color: rgb(245, 245, 245);
  padding: 0 5%;
}

.upper-food-sect,
.lower-food-sect{
  display: flex;
  flex-direction: row;
}

.food{
  flex: 1;
  padding: 1% 2% 0% 2%;
}

#food1, #food2, #food3, #food4, #food5, #food6{ 
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.food p{
  text-align: justify;
}

/******************** community style ***********************/
.community{
  height: 300px;
  padding: 50px 20%;
  text-align: center;
}

/******************** location style ***********************/
.location{
  display: flex;
  flex-direction: row;
  background-color: rgb(245, 245, 245);
  height: 360px;
  padding: 30px 5%;
}
.location *{
  flex: 1;
}
.location h2,
.location p{
  padding: 0 5%;
  text-align: center;
}

/*************** map style ****************/
.mapouter{
  position:relative;
  text-align:right;
  width:540px;
  height:300px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  width:540px;
  height:300px;
}
.gmap_iframe {
  width:540px!important;
  height:300px!important;
}
/*************** footer style ****************/
footer{
  background-color: black;
  color: lightgray;
  font-family: sans-serif;
  padding: 2% 0;
  width: 100%;
  height: 210px;
}
footer div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div a{
  margin: 10px;
}
footer p{  
  font-size:1.5rem;
  text-align:center;
  text-justify:newspaper;
}

/******************************************
/* TWITTER LOGO
/*******************************************/
.fa {
  padding: 20px;
  font-size: 35px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Github */
.fa-github {
  background: white;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
